<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico"/>
    <title>Call center connected successfully</title>
    <style>
        ::-moz-selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        ::selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        html {
            padding: 30px 10px;
            font-size: 20px;
            line-height: 1;
            color: #737373;
            background: rgb(162, 162, 192);
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        html,
        input {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body style="max-width: 600px;_width: 500px;padding: 30px 20px 50px;border: 1px solid #b3b3b3;border-radius: 4px;margin: 0 auto;box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;background: #fcfcfc;padding: 12px;">

    <div style="background-color: rgb(0, 0, 85); text-align: center;">
        <img style="max-height: 100px; padding: 10px 0;"
             src="https://dm4fv4ltmsvz0.cloudfront.net/header-gosell-logo.png" />
    </div>

    <div style="max-width: 576px;_width: 380px;margin: 0 auto;">



        <p style="color: rgb(0, 0, 85);">Gửi cho CS:</p>

        <p style="color: rgb(0, 0, 85); text-align: center; font-weight: bold">Chào các bạn CS</p>
        <p style="color: rgb(0, 0, 85); text-align: center;">Khách hàng với thông tin bên dưới vừa thực hiện mua gói Diễn đàn của GoSELL. Liên hệ với khách hàng để kiểm tra việc thanh toán qua Bank-Transfer xong chưa nhé, và báo Accounting xác nhận đơn hàng sau khi đã nhận tiền, trên internal tool.</p>


        <div style="border: 1px solid rgb(0, 0, 140); border-radius: 20px; padding-top: 30px; padding-bottom: 30px;margin-bottom: 30px">
            <div style="width: 100%; color: rgb(0, 0, 85); text-align: center">
                Ngày mua: {{buy_date}}
            </div>
            <hr style="width: 70%; border: 2px solid rgb(0, 0, 85)">
            <div>
                <h4 style="color: rgb(0, 0, 140); text-align: center;margin-bottom: 0px;">THÔNG TIN ĐƠN HÀNG</h4>
                <table style="width: 100%; color: rgb(0, 0, 85); text-align: center">
                    <tr style="width: 100%">
                        <td style="width:50%; text-align: right; font-weight: bold">
                            Mã đơn hàng:
                        </td>
                        <td style="width:50%; text-align: left;">
                            #{{order_id}}
                        </td>
                    </tr>
                    <tr style="width: 100%">
                        <td style="width:50%; text-align: right; font-weight: bold; vertical-align: text-top;">
                            Tên cửa hàng:
                        </td>
                        <td style="width:50%; text-align: left;">
                            {{shop_name}}
                        </td>
                    </tr>
                    <tr style="width: 100%">
                        <td style="width:50%; text-align: right; font-weight: bold">
                            Phương thức thanh toán:
                        </td>
                        <td style="width:50%; text-align: left;">
                            Bank Transfer
                        </td>
                    </tr>
                    <tr style="width: 100%">
                        <td style="width:50%; text-align: right; font-weight: bold">
                            Tổng tiền:
                        </td>
                        <td style="width:50%; text-align: left;">
                            {{order_total}}
                        </td>
                    </tr>
                </table>
            </div>


        </div>




    </div>
</body>
</html>

