<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico"/>
    <title>Service expired</title>
    <style>
        ::-moz-selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        ::selection {
            background: #b3d4fc;
            text-shadow: none;
        }

        html {
            padding: 30px 10px;
            font-size: 20px;
            line-height: 1.1;
            color: #737373;
            background: rgb(162, 162, 192);
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        html,
        input {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
</head>
<body style="max-width: 600px;_width: 500px;padding: 30px 20px 50px;border: 1px solid #b3b3b3;border-radius: 4px;margin: 0 auto;box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;background: #fcfcfc;padding: 12px;">
    <div align="center" style="background-color: rgb(0,0,85); text-align: center; min-height: 44px; color: #ffffff;">
        <img style="max-height: 100px;height: 16vh;" src="https://dm4fv4ltmsvz0.cloudfront.net/logo_confirm_mail.png" />
    </div>
    <div style="max-width: 576px; _width: 380px; margin: 0 auto; text-align: center;">
        <h2 style="font-family: Roboto; font-size: 20px; font-weight: 900; line-height: 28px; color: #30416F; transform: scale(1, 1.1); " th:text="#{email.aff.package_expired.title}">THE FORUM PACKAGE IS EXPIRED</h2>
        <h3 style="font-family: Roboto; font-size: 14px; font-weight: 700; line-height: 20px; text-align: center; color: #283D5A;" th:text="#{email.aff.package_expired.title.sub}">Hi {{shop_name}},</h3>
        <div>
        </div>
        <h4 style="font-family: Roboto; font-size: 14px; font-weight: 400; line-height: 20px; text-align: center; color: #30416F;" th:utext="#{email.aff.package_expired.description}">
            The <b>Forum</b> package is expired, please <a href="{{link_renew_on_dashboard}}">click link</a> to renew and continue using service.
        </h4>
        <div style="border: 1px solid rgb(0, 0, 140); border-radius: 20px; padding-top: 20px; padding-bottom: 20px; margin-top: 20px; margin-bottom: 20px; margin-left: auto; margin-right: auto; min-width: 200px; max-width: 70%; ">
            <table style="border-collapse: collapse; color: black; margin: auto; align: center; text-align: center; font-size: 18px;">
                <tbody style="display: flex; flex-direction: column; align-items: center">
                    <tr>
                        <th colspan="2" style="font-family: Roboto; font-size: 20px; font-weight: 700; line-height: 24px; text-align: center; color: #283D5A; " th:text="#{email.aff.package_expired.service_informtion}">SERVICE INFORMATION</th>
                    </tr>
                    <tr style="display: flex; flex-direction: row; margin-top: 12px;">
                        <th style="font-family: Roboto; font-size: 14px; font-weight: 500; line-height: 20px; text-align: right; color: #30416F; " th:text="#{email.aff.package_expiring.expired_date}">Expiry date:</th>
                        <th style="font-family: Roboto; font-size: 14px; font-weight: 700; line-height: 20px; text-align: left; color: #30416F; margin-left: 20px;">{{expiry_date}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <span style="font-family: Roboto; font-size: 14px; font-weight: 400; line-height: 20px; text-align: center; color: #30416F; "
              th:text="#{email.aff.footer.thanks}">Thank you and enjoy,</span><br>
        <span style="font-family: Roboto; font-size: 14px; font-weight: 700; line-height: 20px; text-align: center; color: #30416F; " th:text="#{email.aff.footer.author}">GoSELL Team</span>
    </div>
    <div style="font-family: Roboto; font-size: 14px; font-weight: 400; line-height: 20px; text-align: center; color: #AFAFAF; background: #000055; padding: 12px; margin-top: 12px; ">
        <span th:text="#{email.template.guide1}">
            Please do not reply directly to this e-mail. This e-mail was sent from a notification-only address that cannot accept incoming e-mail.
            If you have questions or need assistance while using our service, please contact our Customer Support Center via email:
        </span>
        <a style="font-weight: bold; color: #38A6F7; font-size: 14px !important;"
           target="_top"
           href="mailto::{{support_email}}?subject=Customer Enquiry">{{support_email}}</a>
        <span th:text="#{email.template.guide3}">or Hotline: </span>
        <a href="tel:02873030800"
           style="font-weight: bold; color: #38A6F7; font-size: 14px !important; cursor: pointer">02873030800</a>
    </div>
</body>
</html>
